# Backend Configuration
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/codeverix_db?schema=public"
JWT_SECRET="codeverix_super_secret_jwt_key_2026_dev_env"
PORT=3001
GEMINI_API_KEY="your-gemini-api-key"

# Frontend Configuration
NEXT_PUBLIC_API_URL="http://localhost:3001"
